.root{
    -fx-background-color: #222;
    -fx-background-radius: 28;
}
.mainPane{
    -fx-background-color: linear-gradient(to bottom right,#50ffd3,#6A5ACD);
    -fx-background-radius: 15 15 25 25;
}
.highlight{
    -fx-background-color: #00000025;
    -fx-background-radius: 15;
}
.text-area {
    text-area-background: linear-gradient(to top right,#50ffd3,#6A5ACD) ;
    -fx-background-radius: 15 15 25 25;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}